body{
    margin:0;
    padding:0;
    font-family: '微软雅黑';
    background: #f0f0f0;
}
header{
    height:50px;
    line-height:50px;
    background: white;
    border-bottom:1px solid rgb(194,194,194);
    font-size:17px;
}
header span{
    display: inline-block;
    width:70%;
    float: left;
    text-align: center;
}
header span img{
    width:20px;
    height:18px;
}
header .left{
    width:15%;
}
header .right{
    float: right;
    width:15%;
}
.ch-header{
    width:100%;
    height:5em;
    background: #F6A423;
    color: #fff;
    text-align: center;
}
.ch-header span{
    display: inline-block;
    width:100%;
}
.ch-header span:first-child{
    margin-top:5%;
}
.ch-content{
    padding-bottom:1em;
    padding-top:1em;
    font-size:14px;
    color: #444;
}
.ch-content-table{
    border:1px solid #DCDCDC;
    width:94%;
    margin:0 auto;
    background: #fff;
}
.ch-content-table section{
    display: table;
    width:100%;
    line-height: 2.2em;
    border-bottom:1px solid #DCDCDC;
}
.ch-content-table section:last-child{
    border-bottom: 0px;
}
.ch-content-table span{
    display: table-cell;
    padding-left:4px;
    vertical-align: middle;
    text-align: left;
}
.ch-border-r{
    border-right:1px solid #DCDCDC;
    width:40%;
}



.ch-pay{
    border-top:1px solid #D3D3D3;
    border-bottom:1px solid #D3D3D3;
    width:100%;
    background: #fff;
}
.ch-pay section{
    padding:10px;
    width:92%;
    margin:0 auto;
}
.ch-pay section:first-child{
    border-bottom:1px solid #F2F2F2;
}
.ch-pay section span:last-child{
    float: right;
}

.ch-footer{
    width:100%;
    position: fixed;
    bottom:0px;
    height: 3em;
    line-height: 3em;
}
.ch-footer div{
    text-align: center;
    display: inline-block;
    float: left;
    color: #fff;
}
.ch-footer div:first-child{
    width:50%;
    background: #666666;
}
.ch-footer div:last-child{
    width:50%;
    background: #50D481;
}