body{
    background: rgb(240,240,240);
    font-family:"微软雅黑";
    margin:0;
    padding:0;
}
header{
    height:50px;
    line-height:50px;
    background: white;
    border-bottom:1px solid rgb(194,194,194);
    font-size:17px;
}
header span{
    display: inline-block;
    width:70%;
    float: left;
    text-align: center;
}
header span img{
    width:20px;
    height:18px;
}
header .left{
    width:15%;
}
header .right{
    float: right;
    width:15%;
}
section article{
    margin-top:10px;
}
section article .top{
    display: table;
    height:70px;
    background: rgb(80,212,129);
    width:100%;
}
section article .top div{
    display: table-cell;
    height:70px;
    vertical-align: middle;
    color: white;
    padding-left:15px;
}
section article .middle{
    padding:5px;
    background: white;
}
section article .middle table{
    border:1px solid #d3d3d3;
    margin:0 auto;
    font-size:12px;
    width:96%;
    margin-top:10px;
    border-bottom:2px solid rgb(80,212,129);
    border-collapse:collapse;
}
section article .middle table .leftBorder{
    border-left: 1px solid #ebebeb;
}
section article .middle table .topBorder{
    border-top: 1px solid #ebebeb;
}
section article .middle table td{
    padding-left:5px;
    height:25px;
    margin:0px;
    width:50%;
}
section article .bottom{
    margin-top:10px;
    background: white;
    font-size:14px;
    height:183px;
    border-top:1px solid #d3d3d3;
}
section article .bottom div{
    height:45px;
    line-height:45px;
    border-bottom:1px solid #d3d3d3;
}
section article .bottom div .left{
    float: left;
    padding-left:10px;
}
section article .bottom div .right{
    float: right;
    padding-right:10px;
}